<html>
  <head>

  </head>
  <body>
      <form action='/search' method='get'>
        <input type='text' name='name' value='' placeholder='University Name'>
        <input type='text' name='country' value='' placeholder='Country'>
        <input type='submit'>
      </form>
    <%= people.join(', ') %>
  </body>
</html>
