<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">

  </head>
  <body>
      <form action='/search' method='get'>
        <input type='text' name='name' value='' placeholder='University Name'>
        <input type='text' name='country' value='' placeholder='Country'>
        <input type='hidden' name='page' value='1' />

        <input type='submit'>
      </form>
    <p>This is the index page.</p>
  </body>
</html>
